@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("_LayoutTheme")

<h3 class="page-title">
    Dashboard
    <small>dashboard & statistics</small>
</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="1349">0</span>
                </div>
                <div class="desc"> Demo </div>
            </div>
            <a class="more" href="javascript:;">
                更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="12,5">0</span>M$
                </div>
                <div class="desc"> 客户总量 </div>
            </div>
            <a class="more" href="javascript:;">
                更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="549">0</span>
                </div>
                <div class="desc"> 新订单 </div>
            </div>
            <a class="more" href="javascript:;">
                更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    +
                    <span data-counter="counterup" data-value="89"></span>%
                </div>
                <div class="desc"> 同比增长 </div>
            </div>
            <a class="more" href="javascript:;">
                更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>




@section style_page{ 
    <link href="~/lib/ztree.3.5.26/styles/metroStyle/metroStyle.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
}

@section scripts_plugins{
    <script src="~/lib/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery.sparkline.min.js" type="text/javascript"></script>
}