<!-- BEGIN THEME PANEL -->
<div class="theme-panel hidden-xs hidden-sm">
    <div class="toggler"> </div>
    <div class="toggler-close"> </div>
    <div class="theme-options">
        <div class="theme-option theme-colors clearfix">
            <span> 背景色 </span>
            <ul>
                <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="默认"> </li>
                <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="深蓝色"> </li>
                <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="蓝色"> </li>
                <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="灰色"> </li>
                <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="亮色"> </li>
                <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="亮色 2"> </li>
            </ul>
        </div>
        <div class="theme-option">
            <span> 皮肤样式 </span>
            <select class="layout-style-option form-control input-sm">
                <option value="square" selected="selected">直角</option>
                <option value="rounded">圆角</option>
            </select>
        </div>
        <div class="theme-option">
            <span> 布局 </span>
            <select class="layout-option form-control input-sm"data-theme-cookie-key="layout-option">
                <option value="fluid" selected="selected">全屏</option>
                <option value="boxed">居中</option>
            </select>
        </div>
        <div class="theme-option">
            <span> 头菜单 </span>
            <select class="page-header-option form-control input-sm"data-theme-cookie-key="page-header-option">
                <option value="default" selected="selected">默认</option>
                <option value="fixed">固定</option>
            </select>
        </div>
        <div class="theme-option">
            <span> 头菜单背景色</span>
            <select class="page-header-top-dropdown-style-option form-control input-sm"data-theme-cookie-key="page-header-top-dropdown-style-option">
                <option value="light" selected="selected">亮色</option>
                <option value="dark">暗色</option>
            </select>
        </div>
        <div class="theme-option">
            <span> 导航菜单</span>
            <select class="sidebar-option form-control input-sm"data-theme-cookie-key="sidebar-option">
                <option value="default" selected="selected">默认</option>
                <option value="fixed">固定宽度</option>
            </select>
        </div>
        <div class="theme-option">
            <span> 导航菜单 </span>
            <select class="sidebar-menu-option form-control input-sm"data-theme-cookie-key="sidebar-menu-option">
                <option value="accordion" selected="selected">鼠标点击</option>
                <option value="hover">鼠标划过</option>
            </select>
        </div>
        <div class="theme-option">
            <span> 导航菜单 </span>
            <select class="sidebar-style-option form-control input-sm"data-theme-cookie-key="sidebar-style-option">
                <option value="default" selected="selected">默认</option>
                <option value="light">亮色</option>
            </select>
        </div>
        <div class="theme-option">
            <span> 导航菜单 </span>
            <select class="sidebar-pos-option form-control input-sm" data-theme-cookie-key="sidebar-pos-option">
                <option value="left" selected="selected">居左</option>
                <option value="right">居右</option>
            </select>
        </div>
        <div class="theme-option">
            <span> 底部 </span>
            <select class="page-footer-option form-control input-sm" data-theme-cookie-key="page-footer-option">
                <option value="default" selected="selected">默认</option>
                <option value="fixed">固定</option>
            </select>
        </div>
    </div>
</div>
<!-- END THEME PANEL -->