<label style="width: 50px;" title="fa fa-bitcoin"><input type="radio" name="faIcon" value="fa fa-bitcoin" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-bitcoin'></i>"></label>
<label style="width: 50px;" title="fa fa-btc"><input type="radio" name="faIcon" value="fa fa-btc" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-btc'></i>"></label>
<label style="width: 50px;" title="fa fa-cny"><input type="radio" name="faIcon" value="fa fa-cny" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-cny'></i>"></label>
<label style="width: 50px;" title="fa fa-dollar"><input type="radio" name="faIcon" value="fa fa-dollar" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-dollar'></i>"></label>
<label style="width: 50px;" title="fa fa-eur"><input type="radio" name="faIcon" value="fa fa-eur" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-eur'></i>"></label>
<label style="width: 50px;" title="fa fa-euro"><input type="radio" name="faIcon" value="fa fa-euro" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-euro'></i>"></label>
<label style="width: 50px;" title="fa fa-gbp"><input type="radio" name="faIcon" value="fa fa-gbp" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-gbp'></i>"></label>
<label style="width: 50px;" title="fa fa-gg"><input type="radio" name="faIcon" value="fa fa-gg" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-gg'></i>"></label>
<label style="width: 50px;" title="fa fa-gg-circle"><input type="radio" name="faIcon" value="fa fa-gg-circle" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-gg-circle'></i>"></label>
<label style="width: 50px;" title="fa fa-ils"><input type="radio" name="faIcon" value="fa fa-ils" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-ils'></i>"></label>
<label style="width: 50px;" title="fa fa-inr"><input type="radio" name="faIcon" value="fa fa-inr" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-inr'></i>"></label>
<label style="width: 50px;" title="fa fa-jpy"><input type="radio" name="faIcon" value="fa fa-jpy" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-jpy'></i>"></label>
<label style="width: 50px;" title="fa fa-krw"><input type="radio" name="faIcon" value="fa fa-krw" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-krw'></i>"></label>
<label style="width: 50px;" title="fa fa-money"><input type="radio" name="faIcon" value="fa fa-money" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-money'></i>"></label>
<label style="width: 50px;" title="fa fa-rmb"><input type="radio" name="faIcon" value="fa fa-rmb" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-rmb'></i>"></label>
<label style="width: 50px;" title="fa fa-rouble"><input type="radio" name="faIcon" value="fa fa-rouble" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-rouble'></i>"></label>
<label style="width: 50px;" title="fa fa-rub"><input type="radio" name="faIcon" value="fa fa-rub" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-rub'></i>"></label>
<label style="width: 50px;" title="fa fa-ruble"><input type="radio" name="faIcon" value="fa fa-ruble" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-ruble'></i>"></label>
<label style="width: 50px;" title="fa fa-rupee"><input type="radio" name="faIcon" value="fa fa-rupee" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-rupee'></i>"></label>
<label style="width: 50px;" title="fa fa-shekel"><input type="radio" name="faIcon" value="fa fa-shekel" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-shekel'></i>"></label>
<label style="width: 50px;" title="fa fa-sheqel"><input type="radio" name="faIcon" value="fa fa-sheqel" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-sheqel'></i>"></label>
<label style="width: 50px;" title="fa fa-try"><input type="radio" name="faIcon" value="fa fa-try" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-try'></i>"></label>
<label style="width: 50px;" title="fa fa-turkish-lira"><input type="radio" name="faIcon" value="fa fa-turkish-lira" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-turkish-lira'></i>"></label>
<label style="width: 50px;" title="fa fa-usd"><input type="radio" name="faIcon" value="fa fa-usd" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-usd'></i>"></label>
<label style="width: 50px;" title="fa fa-won"><input type="radio" name="faIcon" value="fa fa-won" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-won'></i>"></label>
<label style="width: 50px;" title="fa fa-yen"><input type="radio" name="faIcon" value="fa fa-yen" class="icheck" data-radio="iradio_line-grey" data-label="<i class='fa fa-yen'></i>"></label>