@using ViewModels.IdentitySite.Account
@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<h1>统一认证系统</h1>
<p> 旨在打造一个全平台、全应用的用户登录授权方式 </p>
<p> 使用Aps.netCore2.0 、IdentityServer4等实现</p>


<p> 您已安全的退出登录</p>
@if (Model.PostLogoutRedirectUri != null)
{
    <p>
        <a class="btn" href="@Model.PostLogoutRedirectUri">返回</a> 应用程序<span>   @Model.ClientName</span>
    </p>
}

@if (Model.SignOutIframeUrl != null)
{
    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
}
@section Scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script  type="text/javascript">
            window.addEventListener("load", function () {
                var a = document.querySelector("a.PostLogoutRedirectUri");
                if (a) {
                    window.location = a.href;
                }
            });
        </script>
    }
}
